/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #222831; /* Fundo geral */
}

/* Estilo da barra lateral */
.sidebar {
    height: 100%;
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2D3748; /* Azul vibrante para maior contraste */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

/* Links da barra lateral */
.sidebar a {
    text-decoration: none;
    color: #FFFFFF; /* Branco puro para contraste */
    text-align: center;
    padding: 15px 0;
    width: 100%;
    transition: background-color 0.3s, transform 0.2s;
}

/* Hover nos links */
.sidebar a:hover {
    background-color: #4a5568; /* Laranja claro para interação */
    transform: scale(1.1); /* Leve aumento para destaque */
}

/* Ícones */
.sidebar a i {
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
    color: #FFFFFF; /* branco vibrante */
    
}

/* Texto do menu */
.sidebar a span {
    font-size: 12px;
    color: #FFFFFF; /* Texto permanece branco */
}

.corpo_fase{
    position: absolute; /* Posiciona em relação à tela */
    left: 80px; /* Começa no canto esquerdo */
    right: 255px; /* Ajusta o espaço com base na largura de .cantoDir */
    top: 0; /* Alinha ao topo */
    height: 100vh; /* Altura conforme a altura visível da página */
}
.cantoDir{
    position: absolute; /* Permite o posicionamento em relação à tela */
    right: 0%;
    top: 0%;
    width: 255; /* Define a largura */
    background-color: #2c334a;
    text-align: right;
    height: 200%;
}

.titulo{
    text-align: center;
    top: 0; /* Fica no topo */
}

.fase01{
    position: absolute;
    left: 49%; /* Distância de 100px do canto esquerdo */
    top: 150px; /* Fica no topo */

}

.circle {
    position: relative; /* Permite posicionar o número em relação ao círculo */
    width: 95px; /* Largura do círculo */
    height: 95px; /* Altura do círculo */
    background-color: #ddd; /* Cor de fundo do círculo */
    border-radius: 50%; /* Faz o formato ser um círculo */
    display: flex; /* Usa flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    
}

.number {
    position: absolute; /* Número centralizado dentro do círculo */
    color: black; /* Cor do número */
    font-size: 50px; /* Tamanho do número */
    font-weight: bold; /* Número em negrito */
}

.fase02{
    position: absolute;
    left: 45%; /* Distância de 150px do canto esquerdo */
    top: 250px; /* Distância vertical (ajuste conforme necessário) */
    font-size: 45px;
}
.Jumentoima {
    width: 100px; /* Define a largura como 10px */
    height: 100px; /* Define a altura como 10px */
    max-width: 1000px; /* Garante que não ultrapasse 10px */
    max-height: 1000px; /* Garante que não ultrapasse 10px */
    position: absolute; /* Permite posicionamento personalizado */
    top: 190px; /* Distância do topo */
    left: 15%; /* Distância da borda esquerda */
    transform: translateX(-50%); /* Centraliza a imagem em relação ao ponto definido */
}

.Jumentoima img {
    width: 350%; /* Faz a imagem ocupar toda a largura da div */
    height: 350%; /* Faz a imagem ocupar toda a altura da div */
    object-fit: contain; /* Mantém a proporção da imagem dentro da div */
}

.fase03{
    position: absolute;
    left: 43%;
    top: 350;
    font-size: 45px;
}
.fase04{
    position: absolute;
    left: 45%;
    top: 450;
    font-size: 45px;
}
.fase005{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 580;
    font-size: 15px;
    color: #E2E8F0;
}
.fase05{
    position: absolute;
    left: 50%;
    top: 600;
    font-size: 75px;
}

.fase06{
    position: absolute;
    left: 54%;
    top: 700;
    font-size: 45px;
}
.fase07{
    position: absolute;
    left: 56%;
    top: 800;
    font-size: 45px;
}
.fase08{
    position: absolute;
    left: 55%;
    top: 900;
    font-size: 45px;
}

.fase009{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 1025;
    font-size: 15px;
    color: #E2E8F0;
}
.fase09{
    position: absolute;
    left: 51%;
    top: 1050;
    font-size: 75px;
}
.fase10{
    position: absolute;
    left: 48%;
    top: 1150;
    font-size: 45px;
}
.fase11{
    position: absolute;
    left: 46%;
    top: 1250;
    font-size: 45px;
}
.fase12{
    position: absolute;
    left: 48%;
    top: 1350;
    font-size: 45px;
}
.titulo{
    text-align: center;
    background-color: #2D3748;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 20px; /*borda*/
    width: 1000px; /*espesura*/
    color: #E2E8F0;
   

    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.imagem-hover {
    width: 105px; /* Ajuste conforme necessário */
    height: auto;
    transition: 0.3s ease-in-out; /* Suaviza a transição */
}

.imagem-hover:hover {
    content: url('/imagens/bot02.png'); /* Troca para a segunda imagem ao passar o mouse */
}

